@model System.DateTime?
<div class="input-group">
    <span class="input-group-addon">
        @Html.CheckBoxFor(m => m.HasValue)
    </span>
    @Html.TextBoxFor(m => m, new { @class = "form-control input-sm" })
</div>
