@model System.String
<div class="input-group">
    <span class="input-group-addon">
        <input type="checkbox" value="@Model" />
    </span>
    @Html.TextBoxFor(m => m, new { @class = "form-control input-sm withcheck" })
</div>
