
<div class="row">
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">Health Insurance</label>
        <label class="radio-inline">
          <input type="radio" id="y" value="true"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" id="y" value="false"> No
        </label>
      </div>
  </div>  
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">H.S Activities List</label>
          <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox">
              </span>
            <input type="text" class="form-control input-sm" id="x">
          </div>
      </div>
  </div>  
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">H.S Honors List</label>
          <div class="input-group input-group-sm">
            <span class="glyphicon glyphicon-calendar input-group-addon"> </span>
            <input type="text" class="form-control" id="x" placeholder="Choose a date">
          </div>
      </div>
  </div>  
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">H.S. Leadership List</label>
        <input type="text" class="form-control input-sm" id="x">
      </div>
  </div>  
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">Community Activities List</label>
        <input type="text" class="form-control input-sm" id="x">
      </div>
  </div>  
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">Resume Completed</label>
        <input type="text" class="form-control input-sm" id="x">
      </div>
  </div>  
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Applications Submitted</div>

          <!-- Table -->
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-default btn-sm">Add Application</button></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Interview Preparation <input type="text" /> </div>

          <!-- Table -->
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Date</th>
                    <th>Accepted</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><input type="text" class="form-control input-sm" id="x"></td>
                        <td><input type="text" class="form-control input-sm" id="x"></td>
                        <td><select class="form-control">
                              <option>Please Choose</option>
                              <option>Yes</option>
                              <option>No</option>
                              <option>Pending</option>
                            </select>
                        </td>
                    </tr>
            </tbody>
        </table>
        </div>
    </div>    
</div>
