<div class="row">
  <div class="col-md-3">
      <div class="form-group">
        <label for="x">Health Insurance</label>
        <label class="radio-inline">
          <input type="radio" id="y" value="true"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" id="y" value="false"> No
        </label>
      </div>
  </div>  
  <div class="col-md-3">
      <div class="form-group">
        <label for="x">FAFSA Completed</label>
        <input type="text" class="form-control input-sm" id="x">
      </div>
  </div>  
  <div class="col-md-3">
      <div class="form-group">
        <label for="x">Pgh Promise Eligible</label>
        <input type="text" class="form-control input-sm" id="x">
      </div>
  </div>  
  <div class="col-md-3">
      <div class="form-group">
        <label for="x">Watch Trade Video</label>
        <input type="text" class="form-control input-sm" id="x">
      </div>
  </div>   
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Trade</div>

          <!-- Table -->
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Deadline</th>
                    <th>Application Date</th>
                    <th>Accepted</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-md-6">
          <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Scholarship Grant/Loan</div>

              <!-- Table -->
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control input-sm" id="x"></td>
                        <td><input type="text" class="form-control input-sm" id="x"></td>
                        <td><input type="text" class="form-control input-sm" id="x"></td>
                        <td><input type="text" class="form-control input-sm" id="x"></td>
                    </tr>
                </tbody>
            </table>
            </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Trade Pre-testing</div>

          <!-- Table -->
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Union/School</th>
                    <th>P/F</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Trade Interview</div>

          <!-- Table -->
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Union/School</th>
                    <th>P/F</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>    
</div>