@{
    ViewBag.Title = "Edit";
}   
<h3>Student, Name</h3>
<div class="row">
  <div class="col-md-3">
    <img id="Image1" style="max-width: 196px;" src="https://studentinfo.urbanimpact.us/uif/StudentPictures/KyleWatts.jpg" />
  </div>
  <div class="col-md-3">
      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea class="form-control" id="comments" rows="5"></textarea>
      </div>
  </div>
  <div class="col-md-6">
  <label>General information</label>
    <div class="rows">
        <div class="col-md-6">   
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Drivers License
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Birth Certificate
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                HS Transcript
              </label>
            </div>    
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Interviewed?
              </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Has Graduated?
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Bank Account
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Social Security Card
              </label>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="row" style="vertical-align: middle;">
    <div class="col-md-6">
        Please choose a bus: 
        <div class="btn-group">
          <button type="button" class="btn btn-default">College</button>
          <button type="button" class="btn btn-default">Trade</button>
          <button type="button" class="btn btn-default">Military</button>
          <button type="button" class="btn btn-default">Career</button>
          <button type="button" class="btn btn-default">Ministry</button>
        </div>
    </div>
    <div class="col-md-6">
        <p class="text-right">
        <button type="submit" class="btn btn-primary btn-lg">Update Student Information</button>  
        </p>  
    </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">College</a></li>
  <li><a href="#">Trade</a></li>
  <li><a href="#">Military</a></li>
  <li><a href="#">Career</a></li>
  <li><a href="#">Ministry</a></li>
</ul>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">Health Insurance</label>
        <label class="radio-inline">
          <input type="radio" id="y" value="true"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" id="y" value="false"> No
        </label>
      </div>
  </div>  
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">FAFSA Completed</label>
        <input type="text" class="form-control input-sm" id="x">
      </div>
  </div>  
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">Pgh Promise Eligible</label>
        <input type="text" class="form-control input-sm" id="x">
      </div>
  </div>  
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">NCAA Eligibility Center</label>
        <input type="text" class="form-control input-sm" id="x">
      </div>
  </div>  
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">Game Film</label>
        <input type="text" class="form-control input-sm" id="x">
      </div>
  </div>  
  <div class="col-md-2">
      <div class="form-group">
        <label for="x">Audition/Portfolio</label>
        <input type="text" class="form-control input-sm" id="x">
      </div>
  </div>  
</div>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">ACT <input type="text" /> </h3>
          </div>
          <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="z">English</label>
                    <input type="text" class="form-control input-sm" id="z">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="z">Math</label>
                    <input type="text" class="form-control input-sm" id="z">
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="z">Readin</label>
                    <input type="text" class="form-control input-sm" id="z">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="z">Science</label>
                    <input type="text" class="form-control input-sm" id="z">
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="z">Composite</label>
                    <input type="text" class="form-control input-sm" id="z">
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">SAT <input type="text" /> </h3>
          </div>
          <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="z">Math</label>
                    <input type="text" class="form-control input-sm" id="z">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="z">Writing</label>
                    <input type="text" class="form-control input-sm" id="z">
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="z">Critical Reading</label>
                    <input type="text" class="form-control input-sm" id="z">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="z">Total</label>
                    <input type="text" class="form-control input-sm" id="z">
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Scholarship Grant/Loan</div>

              <!-- Table -->
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control input-sm" id="x"></td>
                        <td><input type="text" class="form-control input-sm" id="x"></td>
                        <td><input type="text" class="form-control input-sm" id="x"></td>
                        <td><input type="text" class="form-control input-sm" id="x"></td>
                    </tr>
                </tbody>
            </table>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">College Applications</div>

          <!-- Table -->
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Deadline</th>
                    <th>Application Date</th>
                    <th>Accepted</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">College Tours</div>

          <!-- Table -->
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>School</th>
                    <th>Tour Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                    <td><input type="text" class="form-control input-sm" id="x"></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>    
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Activity History</div>

  <!-- Table -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Time of Entry</th>
            <th>Activity Description</th>
            <th>Edited By</th>
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < 5; i++)
    {
        <tr>
            <td>@DateTime.Now</td>
            <td>Some Entry here</td>
            <td>Some, User</td>
        </tr>
    }
    </tbody>
</table>
</div>